.product-image {
  background: linear-gradient(to top, #2193b0, #6dd5ed);
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    max-height: 100%;
    max-width: 100%;
  }
}

.product-details {
  width: 60%;
  padding: 24px  32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product {
  width: 500px;
  height: 240px;
  margin: 0 auto 50px;
  display: flex;
  overflow: hidden;
  box-shadow: -20px 10px 30px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #333;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
    color: #333;
  }
}
